:root {
    --primary: #3c7450;
    --secondary: #9caea9;
    --dark: #000000;
    --light: #ffffff;
    --blue: #5c79af;
    --border-radius: 0.3rem;
}

.jumbotron {
    flex: auto, auto;
    padding: 2%;
    height: 190px;
    background-image: linear-gradient(var(--primary), var(--secondary));
}

.cityListed {
    display: inline-block;
}

.card {
    min-width: auto;
    color: var(--light);
    background-color: var(--blue);
}
